@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind plugin;

.kill {
	cursor: pointer;
}

.gallery-image {
	cursor: pointer;
}

#filepond {
    width: 300px;
}

#topbar {
	width: 100%
}

#generation-form {
    width: 100%;             
    max-width: 600px;        
    margin: 0 auto;          
    padding: 0 20px;         
    box-sizing: border-box;   
}

@media (max-width: 600px) {
    #generation-form {
        width: 100%;          
        max-width: 90%;      
        padding: 0 10px;      
    }
}

.filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}
